@import "variables";

$horizontal-padding: 5rem;
$vertical-padding: 3rem;

$header-height: 4rem;

:host {

  header {
    display: flex;
    align-items: center;
    height: $header-height;
    border-bottom: 3px solid $primary-color;
    padding: 0 $horizontal-padding;
    img {
      height: 2rem;
    }
  }
  main {
    min-height: calc(100% - #{$header-height});
    background: url("../../../assets/background.jpg");
    background-position: center;
    background-size: cover;
    padding: $vertical-padding $horizontal-padding;
  }
}
