@import "variables";

$horizontal-padding-lg: 5rem;
$vertical-padding-lg: 3rem;

$horizontal-padding-md: 3rem;
$vertical-padding-md: 2rem;

$horizontal-padding-sm: 1rem;
$vertical-padding-sm: 1rem;

$header-height: 4rem;

:host {

  header {
    display: flex;
    align-items: center;
    height: $header-height;
    border-bottom: 3px solid $primary-color;

    padding: 0 $horizontal-padding-sm;
    @include screen-medium {
      padding: 0 $horizontal-padding-md;
    }
    @include screen-large {
      padding: 0 $horizontal-padding-lg;
    }
    img {
      height: 2rem;
    }
  }
  main {
    min-height: calc(100% - #{$header-height});
    background: url("../../../assets/background.jpg");
    background-position: center;
    background-size: cover;

    padding: $vertical-padding-sm $horizontal-padding-sm;
    @include screen-medium {
      padding: $vertical-padding-md $horizontal-padding-md;
    }
    @include screen-large {
      padding: $vertical-padding-lg $horizontal-padding-lg;
    }
  }
}
