<form *ngIf="fromAccount$ | async as fromAccount" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <bb-form-field class="from-account">
    <label>
      <span>From Account</span>
      <select type="text" formControlName="fromAccountId">
        <option [value]="fromAccount.id">{{fromAccount.name}} - {{fromAccount.balance | currency}}</option>
      </select>
    </label>
  </bb-form-field>
  <bb-form-field>
    <label>
      <span>To Account</span>
      <select type="text" formControlName="toAccountId">
        <option *ngFor="let account of toAccounts$ | async" [value]="account.id">{{account.name}}</option>
      </select>
    </label>
  </bb-form-field>
  <bb-form-field>
    <bb-input-prefix>$</bb-input-prefix>
    <label>
      <span>Amount</span>
      <input bbInput type="number" formControlName="amount" placeholder="0.00">
    </label>
  </bb-form-field>
  <div class="error" *ngIf="isOverDraft$ | async">Sorry, but you cannot overdraft more than $500.</div>

  <button type="submit" bbButton="primary" [disabled]="(isOverDraft$ | async) || formGroup.invalid">Submit</button>
</form>
