@import "variables";

.bb-button {
  border: none;
  color: white;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  min-width: 10rem;
  transition: background-color 200ms linear;
  &.primary {
    background: $primary-color;
  }
  &.secondary {
    background: $secondary-color;
  }
  &[disabled] {
    background: $background-gray;
    color: $text-gray;
  }
}
