:host {
  display: block;
  .transactions-list {
    border: 1px solid grey;
    .transaction-row {
      display: flex;
      align-items: center;
      border-left: 0.5rem solid;
      height: 4rem;
      .date {
        flex: 0 0 4rem;
        padding: 0 2rem;
        font-weight: 200;
      }
      .logo {
        flex: 0 0 auto;
        height: 2rem;
        width: 2rem;
      }
      .merchant-transaction-type-container {
        flex: 1 1 auto;
        margin-left: 3rem;
        .merchant {
        }
        .transaction-type {
          font-weight: 200;
        }
      }
      .amount {
        flex: 0 0 4rem;
      }
    }
    .transaction-row + .transaction-row {
      border-top: 1px solid grey;
    }
  }
}
