<div class="filter-and-sorter-row">

  <bb-form-field class="search-container">
    <input id="search" type="text" bbInput (input)="onSearchChange($event.target.value)" placeholder="Search by typing..." #input>
    <bb-input-suffix *ngIf="input.value">
      <button class="clear" aria-label="Clear search button" type="button" (click)="input.value = ''; onSearchChange('')">x</button>
    </bb-input-suffix>
  </bb-form-field>

  <div class="sorting-container">
    <div class="sort-by-label">Sort By</div>
    <div class="button-group">
      <button *ngFor="let sortKey of SortKey | enumToArray" type="button" (click)="onSortClicked(sortKey)">
        <span>{{getSortKeyLabel(sortKey)}}</span>
        <svg-loader class="caret"
                    [class.up]="sortKey$.value === sortKey && sortDirection$.value === SortDirection.Asc"
                    [class.down]="sortKey$.value === sortKey && sortDirection$.value === SortDirection.Desc"
                    src="assets/icons/caret-up.svg"></svg-loader>
      </button>
    </div>
  </div>


</div>

<ng-container *ngIf="sortedFilteredTransactions$ | async as transactions">
  <div class="transactions-list" *ngIf="transactions.length">
    <div class="transaction-row" @fadeIn *ngFor="let transaction of transactions" [style.border-left-color]="getColor(transaction)">
      <div class="date">{{transaction.transactionDate | date : "MMM. d"}}</div>
      <img class="logo" [src]="transaction.merchantLogo" alt="Merchant Logo">
      <div class="merchant-transaction-type-container">
        <div class="merchant">{{transaction.merchant}}</div>
        <div class="transaction-type">{{transaction.transactionType}}</div>
      </div>
      <div class="amount">{{transaction.amount | currency}}</div>
    </div>
  </div>
</ng-container>
